@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --apple-black: #1d1d1f;
  --apple-white: #f5f5f7;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: var(--apple-black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

.vanta-canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0;
  left: 0;
}